<h1>ログイン</h1>
<%= form_with(url: login_path, scope: :session, local: true) do |f| %>
  <%= f.label :email, 'Emailアドレス' %>
  <%= f.email_field :email %>
  
  <%= f.label :password, 'パスワード' %>
  <%= f.password_field :password %>
  
  <%= f.submit 'ログイン' %>
<% end %>

<p>ユーザ登録してない人→ <%= link_to 'ユーザ登録', signup_path %></p>
