<h1>Task_No: <%= @task.id %> の編集</h1>

<%= form_with(model: @task, local: true) do |f| %>
  <%= f.label :content, 'Task内容' %>
  <%= f.text_field :content %>
  
  <%= f.submit '登録' %>
<% end %>

<%= link_to 'Tasklistへ戻る', tasks_path %>