<h1>Task_No: <%= @task.id %> の詳細</h1>

<p><%= @task.content %></p>

<%= link_to 'このTaskを編集する', edit_task_path %>
<%= link_to 'このTaskを削除する', @task, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
<%= link_to 'Tasklistへ戻る', tasks_path %>