<h1>ユーザ登録</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <%= f.label :name, '名前' %>
  <%= f.text_field :name %>
  
  <%= f.submit '登録' %>
<% end %>